<ul>
<!-- List of links to various cities. -->
	<li><a href="/weather?name=San_Francisco">San Francisco</li>
	<li><a href="/weather?name=Omaha">Omaha</li>
	<li><a href="/weather?name=Mumbai">Mumbai</li>
</ul>