<ul>
<!-- List of links to various cities. -->
	<li><a href="/weather?name=San_Francisco&location=37.7749,-122.4149">San Francisco</li>
	<li><a href="/weather?name=Omaha&location=41.2524,-95.9980">Omaha</li>
	<li><a href="/weather?name=Mumbai&location=19.0760,72.8777">Mumbai</li>
</ul>